<!DOCTYPE html>
<html lang="en" class="loading">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="Convex admin is super flexible, powerful, clean &amp; modern responsive bootstrap 4 admin template with unlimited possibilities.">
    <meta name="keywords" content="admin template, Convex admin template, dashboard template, flat admin template, responsive admin template, web app">
    <meta name="author" content="PIXINVENT">
    <title>پنل مدیریت فروشگاه یار مهربان</title>
@*     <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css"> *@
    <link rel="stylesheet" type="text/css" href="~/admin-template/app-assets/vendors/css/jquery-ui.min.css">
    <link rel="apple-touch-icon" sizes="60x60" href="~/admin-template/app-assets/img/ico/apple-icon-60.html">
    <link rel="apple-touch-icon" sizes="76x76" href="~/admin-template/app-assets/img/ico/apple-icon-76.html">
    <link rel="apple-touch-icon" sizes="120x120" href="~/admin-template/app-assets/img/ico/apple-icon-120.html">
    <link rel="apple-touch-icon" sizes="152x152" href="~/admin-template/app-assets/img/ico/apple-icon-152.html">
    <link rel="shortcut icon" type="image/x-icon" href="https://pixinvent.com/demo/convex-bootstrap-admin-dashboard-template/app-assets/img/ico/favicon.ico">
    <link rel="shortcut icon" type="image/png" href="~/admin-template/app-assets/img/ico/favicon-32.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900%7CMontserrat:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/admin-template/app-assets/fonts/feather/style.min.css">
    <link rel="stylesheet" type="text/css" href="~/admin-template/app-assets/fonts/simple-line-icons/style.css">
    <link rel="stylesheet" type="text/css" href="~/admin-template/app-assets/fonts/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/admin-template/app-assets/vendors/css/perfect-scrollbar.min.css">
    <link rel="stylesheet" type="text/css" href="~/admin-template/app-assets/vendors/css/prism.min.css">
    <link rel="stylesheet" type="text/css" href="~/admin-template/app-assets/vendors/css/chartist.min.css">
    <link rel="stylesheet" type="text/css" href="~/admin-template/app-assets/css/app.css">
    <link rel="stylesheet" type="text/css" href="~/lib/sweetalert2/sweetalert2.min.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/image-loader/jquery.imagesloader.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/tag-input/style.css" />

    <link rel="stylesheet" type="text/css" href="~/admin-template/app-assets/css/app.css">
</head>
<body data-col="2-columns" class=" 2-columns ">
    <div class="wrapper">
        <div data-active-color="white" data-background-color="aqua-marine" data-image="admin-template/app-assets/img/sidebar-bg/02.jpg" class="app-sidebar">
            <div class="sidebar-header">
                <div class="logo clearfix">
                    <a href="index-2.html" class="logo-text float-right">
                        <div class="logo-img"><img src="~/admin-template/app-assets/img/logo.png" alt="Convex Logo" /></div><span class="text align-middle">CONVEX</span>
                    </a>
                </div>
            </div>
            <div class="sidebar-content">
                <div class="nav-container">
                    <ul id="main-menu-navigation" data-menu="menu-navigation" class="navigation navigation-main">
                        <li class="has-sub nav-item">
                            <a href="#"><i class="icon-home"></i><span data-i18n="" class="menu-title">داشبورد</span><span class="tag badge badge-pill badge-danger mt-1">2</span></a>
                            <ul class="menu-content">
                                <li>
                                    <a asp-area="Admin" asp-controller="AdminHome" asp-action="Index" class="menu-item">صفحه اصلی</a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-sub nav-item">
                            <a href="#"><i class="icon-grid"></i><span data-i18n="" class="menu-title">محصول</span></a>
                            <ul class="menu-content">
                                <li class="has-sub">
                                    <a href="#" class="menu-item">دسته بندی ها</a>
                                    <ul class="menu-content">
                                        <li>
                                            <a asp-area="Admin" asp-controller="Category" asp-action="List" class="menu-item">لیست دسته بندی ها</a>
                                        </li>
                                        <li>
                                            <a asp-area="Admin" asp-controller="Category" asp-action="Update" asp-route-productActionType="Create" class="menu-item">افزودن دسته بندی جدید</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="has-sub">
                                    <a href="#" class="menu-item">انتشارات</a>
                                    <ul class="menu-content">
                                        <li>
                                            <a asp-area="Admin" asp-controller="Publication" asp-action="List" class="menu-item">لیست انتشارات</a>
                                        </li>
                                        <li>
                                            <a asp-area="Admin" asp-controller="Publication" asp-action="Update" class="menu-item">افزودن انتشارات جدید</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="has-sub">
                                    <a href="#" class="menu-item">کتاب ها</a>
                                    <ul class="menu-content">
                                        <li>
                                            <a asp-area="Admin" asp-controller="Book" asp-action="List" class="menu-item">لیست کتاب ها</a>
                                        </li>
                                        <li>
                                            <a asp-area="Admin" asp-controller="Book" asp-action="Update" class="menu-item">افزودن کتاب جدید</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="sidebar-background"></div>
        </div>


        <nav class="navbar navbar-expand-lg navbar-light bg-faded">
            <div class="container-fluid">
                <div class="navbar-header">
                </div>
                <div class="navbar-container">
                    <div id="navbarSupportedContent" class="collapse navbar-collapse">
                        <ul class="navbar-nav">
                            <li class="dropdown nav-item mt-1">
                                <a id="dropdownBasic2" href="#" data-toggle="dropdown" class="nav-link position-relative dropdown-toggle">
                                    <i class="ft-bell blue-grey darken-4"></i><span class="notification badge badge-pill badge-danger">4</span>
                                    <p class="d-none">اطلاعیه</p>
                                </a>
                                <div class="notification-dropdown dropdown-menu dropdown-menu-left">
                                    <div class="arrow_box_right">
                                        <div class="noti-list">
                                            <a class="dropdown-item noti-container py-2">
                                                <i class="ft-share info float-right d-block font-medium-4 mt-2 ml-2"></i>
                                                <span class="noti-wrapper">
                                                    <span class="noti-title line-height-1 d-block text-bold-400 info">سفارش جدید دریافت شده</span>
                                                    <span class="noti-text">لورم ایپسوم متن ساختگی با تولید سادگی</span>
                                                </span>
                                            </a>
                                            <a class="dropdown-item noti-container py-2">
                                                <i class="ft-save warning float-right d-block font-medium-4 mt-2 ml-2"></i>
                                                <span class="noti-wrapper">
                                                    <span class="noti-title line-height-1 d-block text-bold-400 warning">کاربر جدید ثبت شده است</span>
                                                    <span class="noti-text">لورم ایپسوم متن ساختگی با تولید سادگی</span>
                                                </span>
                                            </a>
                                            <a class="dropdown-item noti-container py-2">
                                                <i class="ft-repeat danger float-right d-block font-medium-4 mt-2 ml-2"></i>
                                                <span class="noti-wrapper">
                                                    <span class="noti-title line-height-1 d-block text-bold-400 danger">سفارش جدید دریافت شده</span>
                                                    <span class="noti-text">لورم ایپسوم متن ساختگی با تولید سادگی</span>
                                                </span>
                                            </a>
                                            <a class="dropdown-item noti-container py-2">
                                                <i class="ft-shopping-cart success float-right d-block font-medium-4 mt-2 ml-2"></i>
                                                <span class="noti-wrapper">
                                                    <span class="noti-title line-height-1 d-block text-bold-400 success">مورد جدید در سبد خرید شما</span>
                                                    <span class="noti-text">لورم ایپسوم متن ساختگی با تولید سادگی</span>
                                                </span>
                                            </a>
                                            <a class="dropdown-item noti-container py-2">
                                                <i class="ft-heart info float-right d-block font-medium-4 mt-2 ml-2"></i>
                                                <span class="noti-wrapper">
                                                    <span class="noti-title line-height-1 d-block text-bold-400 info">فروش جدید</span>
                                                    <span class="noti-text">لورم ایپسوم متن ساختگی با تولید سادگی</span>
                                                </span>
                                            </a>
                                            <a class="dropdown-item noti-container py-2">
                                                <i class="ft-box warning float-right d-block font-medium-4 mt-2 ml-2"></i>
                                                <span class="noti-wrapper">
                                                    <span class="noti-title line-height-1 d-block text-bold-400 warning">سفارش تحویل داده شده</span>
                                                    <span class="noti-text">لورم ایپسوم متن ساختگی با تولید سادگی</span>
                                                </span>
                                            </a>
                                        </div>
                                        <a class="noti-footer primary text-center d-block border-top border-top-blue-grey border-top-lighten-4 text-bold-400 py-1">
                                            خواندن همه اعلان ها
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <li class="dropdown nav-item mr-0">
                                <a id="dropdownBasic3" href="#" data-toggle="dropdown" class="nav-link position-relative dropdown-user-link dropdown-toggle">
                                    <span class="avatar avatar-online"><img id="navbar-avatar" src="~/admin-template/app-assets/img/portrait/small/avatar-s-3.jpg" alt="avatar" /></span>
                                    <p class="d-none">تنظیمات کاربر</p>
                                </a>
                                <div aria-labelledby="dropdownBasic3" class="dropdown-menu dropdown-menu-left">
                                    <div class="arrow_box_right">
                                        <a href="user-profile-page.html" class="dropdown-item py-1"><i class="ft-edit ml-2"></i><span>پروفایل من</span></a><a href="chat.html" class="dropdown-item py-1"><i class="ft-message-circle ml-2"></i><span>چت من</span></a><a href="javascript:;" class="dropdown-item py-1"><i class="ft-settings ml-2"></i><span>تنظیمات</span></a>
                                        <div class="dropdown-divider"></div><a href="javascript:;" class="dropdown-item"><i class="ft-power ml-2"></i><span>خروج</span></a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>

        <div class="main-panel">
            <div class="main-content">
                @RenderBody()
            </div>

            <footer class="footer footer-static footer-light">
                <p class="clearfix text-muted text-center px-2"><span> &copy; 2018 کپی رایت <a href="https://fkazemi5236@gmail.com" id="pixinventLink" target="_blank" class="text-bold-800 primary darken-2">fkazemi5236</a>,همه حقوق محفوظ است </span></p>
            </footer>

        </div>
    </div>
    <!-- ////////////////////////////////////////////////////////////////////////////-->

    <aside id="notification-sidebar" class="notification-sidebar d-none d-sm-none d-md-block">
        <a class="notification-sidebar-close"><i class="ft-x font-medium-3"></i></a>
        <div class="side-nav notification-sidebar-content">
            <div class="row">
                <div class="col-12 mt-1">
                    <ul class="nav nav-tabs">
                        <li class="nav-item"><a id="base-tab1" data-toggle="tab" aria-controls="base-tab1" href="#activity-tab" aria-expanded="true" class="nav-link active"><strong>فعالیت</strong></a></li>
                        <li class="nav-item"><a id="base-tab2" data-toggle="tab" aria-controls="base-tab2" href="#settings-tab" aria-expanded="false" class="nav-link"><strong>تنظیمات</strong></a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="activity-tab" role="tabpanel" aria-expanded="true" aria-labelledby="base-tab1" class="tab-pane active">
                            <div id="activity-timeline" class="col-12 timeline-left">
                                <h6 class="mt-1 mb-3 text-bold-400">فعالیت اخیر</h6>
                                <div class="timeline">
                                    <ul class="list-unstyled base-timeline activity-timeline ml-0">
                                        <li>
                                            <div class="timeline-icon bg-danger"><i class="ft-shopping-cart"></i></div>
                                            <div class="base-timeline-info"><a href="#" class="text-uppercase text-danger">به روز رسانی</a><span class="d-block">علی رضایی تجهیزات جدیدی را برای دفتر منطقه ای خریداری کرد.</span></div><small class="text-muted">همین الان</small>
                                        </li>
                                        <li>
                                            <div class="timeline-icon bg-primary"><i class="fa fa-plane"></i></div>
                                            <div class="base-timeline-info"><a href="#" class="text-uppercase text-primary">اضافه</a><span class="d-block">پرواز بعدی شما برای ایالات متحده آمریکا در تاریخ 15 آگوست 2015 صورت خواهد گرفت.</span></div><small class="text-muted">25 ساعت پیش</small>
                                        </li>
                                        <li>
                                            <div class="timeline-icon bg-dark"><i class="ft-mic"></i></div>
                                            <div class="base-timeline-info"><a href="#" class="text-uppercase text-dark">اختصاص داده</a><span class="d-block">سارا نظری یک پست صوتی برای کنفرانس بعدی ارسال کنید</span></div><small class="text-muted">15 روز پیش</small>
                                        </li>
                                        <li>
                                            <div class="timeline-icon bg-warning"><i class="ft-map-pin"></i></div>
                                            <div class="base-timeline-info"><a href="#" class="text-uppercase text-warning">جدید</a><span class="d-block">علی محمدی یک فروشگاه جدید را در خیابان ولیعصر باز کنید</span></div><small class="text-muted">20 روز پیش</small>
                                        </li>
                                        <li>
                                            <div class="timeline-icon bg-primary"><i class="ft-inbox"></i></div>
                                            <div class="base-timeline-info"><a href="#" class="text-uppercase text-primary">اضافه</a><span class="d-block">پست صوتی برای کنفرانس</span></div><small class="text-muted">2 هفته پیش</small>
                                        </li>
                                        <li>
                                            <div class="timeline-icon bg-danger"><i class="ft-mic"></i></div>
                                            <div class="base-timeline-info"><a href="#" class="text-uppercase text-danger">به روز رسانی</a><span class="d-block">علی محمدی یک فروشگاه جدید را در خیابان ولیعصر باز کنید</span></div><small class="text-muted">1 ماه پیش</small>
                                        </li>
                                        <li>
                                            <div class="timeline-icon bg-dark"><i class="ft-inbox"></i></div>
                                            <div class="base-timeline-info"><a href="#" class="text-uppercase text-dark">اختصاص داده</a><span class="d-block">سارا نظری یک پست صوتی برای کنفرانس بعدی ارسال کنید</span></div><small class="text-muted">1 ماه پیش</small>
                                        </li>
                                        <li>
                                            <div class="timeline-icon bg-warning"><i class="ft-map-pin"></i></div>
                                            <div class="base-timeline-info"><a href="#" class="text-uppercase text-warning">جدید</a><span class="d-block">پروژه جدید با رضا محمودی آغاز شد. </span></div><small class="text-muted">2 ماه پیش</small>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div id="settings-tab" aria-labelledby="base-tab2" class="tab-pane">
                            <div id="settings" class="col-12">
                                <h6 class="mt-1 mb-3 text-bold-400">تنظیمات عمومی</h6>
                                <ul class="list-unstyled">
                                    <li>
                                        <div class="togglebutton">
                                            <div class="switch">
                                                <span class="text-bold-500">اطلاعیه</span>
                                                <div class="float-right">
                                                    <div class="form-group">
                                                        <div class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                                                            <input id="notifications1" checked="checked" type="checkbox" class="custom-control-input">
                                                            <label for="notifications1" class="custom-control-label"></label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <p>هنگام بررسی بله یا بدون پاسخ، از کادرهای جعبه استفاده کنید.</p>
                                    </li>
                                    <li>
                                        <div class="togglebutton">
                                            <div class="switch">
                                                <span class="text-bold-500">نمایش فعالیت اخیر</span>
                                                <div class="float-right">
                                                    <div class="form-group">
                                                        <div class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                                                            <input id="recent-activity1" checked="checked" type="checkbox" class="custom-control-input">
                                                            <label for="recent-activity1" class="custom-control-label"></label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <p>برای مشخص کردن ویژگی لازم است که کادر ورودی خود را با ورودی مرتبط کنیم.</p>
                                    </li>
                                    <li>
                                        <div class="togglebutton">
                                            <div class="switch">
                                                <span class="text-bold-500">اطلاعیه</span>
                                                <div class="float-right">
                                                    <div class="form-group">
                                                        <div class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                                                            <input id="notifications2" type="checkbox" class="custom-control-input">
                                                            <label for="notifications2" class="custom-control-label"></label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <p>هنگام بررسی بله یا بدون پاسخ، از کادرهای جعبه استفاده کنید.</p>
                                    </li>
                                    <li>
                                        <div class="togglebutton">
                                            <div class="switch">
                                                <span class="text-bold-500">نمایش فعالیت اخیر</span>
                                                <div class="float-right">
                                                    <div class="form-group">
                                                        <div class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                                                            <input id="recent-activity2" type="checkbox" class="custom-control-input">
                                                            <label for="recent-activity2" class="custom-control-label"></label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <p>برای مشخص کردن ویژگی لازم است که کادر ورودی خود را با ورودی مرتبط کنیم.</p>
                                    </li>
                                    <li>
                                        <div class="togglebutton">
                                            <div class="switch">
                                                <span class="text-bold-500">ایمیل های خود را نمایش دهید</span>
                                                <div class="float-right">
                                                    <div class="form-group">
                                                        <div class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                                                            <input id="show-emails" type="checkbox" class="custom-control-input">
                                                            <label for="show-emails" class="custom-control-label"></label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <p>هنگام بررسی بله یا بدون پاسخ، از کادرهای جعبه استفاده کنید.</p>
                                    </li>
                                    <li>
                                        <div class="togglebutton">
                                            <div class="switch">
                                                <span class="text-bold-500">نمایش آمار کار</span>
                                                <div class="float-right">
                                                    <div class="form-group">
                                                        <div class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                                                            <input id="show-stats" checked="checked" type="checkbox" class="custom-control-input">
                                                            <label for="show-stats" class="custom-control-label"></label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <p>برای مشخص کردن ویژگی لازم است که کادر ورودی خود را با ورودی مرتبط کنیم.</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </aside>

    <!-- BEGIN VENDOR JS-->
    <script src="~/admin-template/app-assets/vendors/js/core/jquery-3.3.1.min.js"></script>
    <script src="~/admin-template/app-assets/vendors/js/jquery-ui.min.js"></script>
    <script src="~/admin-template/app-assets/js/persian-datepicker.min.js"></script>
    <script src="~/admin-template/app-assets/vendors/js/core/popper.min.js"></script>
    <script src="~/admin-template/app-assets/vendors/js/core/bootstrap.min.js"></script>
    <script src="~/admin-template/app-assets/vendors/js/perfect-scrollbar.jquery.min.js"></script>
    <script src="~/admin-template/app-assets/vendors/js/prism.min.js"></script>
    <script src="~/admin-template/app-assets/vendors/js/jquery.matchHeight-min.js"></script>
    <script src="~/admin-template/app-assets/vendors/js/screenfull.min.js"></script>
    <script src="~/admin-template/app-assets/vendors/js/pace/pace.min.js"></script>
    <!-- BEGIN VENDOR JS-->
    <!-- BEGIN CONVEX JS-->
    <script src="~/admin-template/app-assets/js/app-sidebar.js"></script>
    <script src="~/admin-template/app-assets/js/notification-sidebar.js"></script>
    <script src="~/admin-template/app-assets/js/customizer.js"></script>
    <!-- END CONVEX JS-->

    <script src="~/lib/sweetalert2/sweetalert2.min.js"></script>

</body>

</html>

@RenderSection("Scripts", false)